In [4]:
import json
import pandas as pd

IMDB_DATA = '/home/tina/Downloads/IMDB Dataset.csv'
RESTAURANT_DATA = '/home/tina/Downloads/Restaurant_Reviews.csv'
REVIEW_DATA = '/home/tina/Downloads/review_train.csv'

encoding = 'latin1'

In [5]:
imbd_df = pd.read_csv(IMDB_DATA)
imbd_df['sentiment'] = imbd_df['sentiment'].replace({'positive': 1, 'negative': 0})
imbd_df.columns = ['text', 'label']
shuffled_imbd_df = imbd_df.sample(frac=1, random_state=42)
shuffled_imbd_df = shuffled_imbd_df.reset_index(drop=True)
sample_imbd_df = shuffled_imbd_df.sample(n=2500, random_state=42)
sample_imbd_df.head(10)

                                                    text  label
33553  There isn't enough space to explain the many w...      0
9427   One of my favorites non-MGM musicals, it's a c...      1
199    I am rating this an 8 because of the premise o...      1
12447  I won't repeat all that has been said already ...      1
39489  **SPOILERS** With the title of the film having...      0
42724  Episode two of season one is a delightful holi...      1
10822  Nell Shipman must have been paid a hefty sum o...      0
49498  I recently purchassed the very underrated Drea...      1
4144   The movie features another exceptional collabo...      1
36958  I was totally engrossed in this film from the ...      1

In [6]:
len(sample_imbd_df)

2500

In [7]:
restaurant_df = pd.read_csv(RESTAURANT_DATA)
restaurant_df.columns = ['text', 'label']
shuffled_restaurant_df = restaurant_df.sample(frac=1, random_state=42)
shuffled_restaurant_df = shuffled_restaurant_df.reset_index(drop=True)
shuffled_restaurant_df.head(10)

                                                text  label
0                   If you haven't gone here GO NOW!      1
1  Try them in the airport to experience some tas...      1
2  The restaurant is very clean and has a family ...      1
3  I personally love the hummus, pita, baklava, f...      1
4              Come hungry, leave happy and stuffed!      1
5      It's a great place and I highly recommend it.      1
6  Best of luck to the rude and non-customer serv...      0
7                            Reasonably priced also!      1
8            Worst food/service I've had in a while.      0
9            I had a seriously solid breakfast here.      1

In [8]:
len(restaurant_df)

1000

In [9]:
review_df = pd.read_csv(REVIEW_DATA, encoding=encoding)[['text','sentiment']]
review_df['label'] = review_df['sentiment'].replace({'positive': 1, 'negative': 0})
review_df = review_df[review_df['sentiment'] != 'neutral']
review_df = review_df.drop(columns=['sentiment']) 
shuffled_review_df = review_df.sample(frac=1, random_state=42)
shuffled_review_df = shuffled_review_df.reset_index(drop=True)
sample_review_df = shuffled_review_df.sample(n=2500, random_state=42)
sample_review_df.head(10)

                                                    text label
8812    good question. Nepal PM declaring to resign a...     1
10802    i just saw your performance on the ellen sho...     1
5397    nooo... as a font connoisseur i can totally r...     0
13806                      i really am going to miss you     0
10064  Ahhh I`m engulfed in shooooes. Who told me to ...     0
2087            working from home and ran out of coffee!     0
123     thats the crazy part - was for 16:30. but rea...     0
2906   has has an ok day with jo. She bit me and now ...     0
8610            it`s the best day ever. it`s my birthday     1
2927                      what about me  I miss you too!     0

In [10]:
len(sample_review_df)

2500

In [11]:
all_data = pd.concat([sample_review_df, shuffled_restaurant_df,sample_imbd_df])
all_data.head()

                                                    text label
8812    good question. Nepal PM declaring to resign a...     1
10802    i just saw your performance on the ellen sho...     1
5397    nooo... as a font connoisseur i can totally r...     0
13806                      i really am going to miss you     0
10064  Ahhh I`m engulfed in shooooes. Who told me to ...     0

In [12]:
len(all_data)

6000

In [13]:
all_data.to_csv('./data/reviews-dataset.csv', index=False)